<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 th:text="#{footer.learn}" class="fw-bold mt-2 mt-md-0 mb-4">
                            LEARN
                        </h6>
                        <p>
                            <a th:text="#{footer.programmingCourses}" href="#" class="footer-href">Programming Courses</a>
                        </p>
                        <p>
                            <a th:text="#{footer.javaCourse}" href="#" class="footer-href">Java Course</a>
                        </p>
                        <p>
                            <a th:text="#{footer.helpWithTasks}" href="#" class="footer-href">Help with Tasks</a>
                        </p>
                        <p>
                            <a th:text="#{footer.prices}" href="#" class="footer-href">Pricing</a>
                        </p>
                        <p>
                            <a th:text="#{footer.gameProjects}" href="#" class="footer-href">Game Projects</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 th:text="#{footer.community}" class="fw-bold mb-4">
                            COMMUNITY
                        </h6>
                        <p>
                            <a th:text="#{footer.users}" href="#" class="footer-href">Users</a>
                        </p>
                        <p>
                            <a th:text="#{footer.articles}" href="#" class="footer-href">Articles</a>
                        </p>
                        <p>
                            <a th:text="#{footer.forum}" href="#" class="footer-href">Forum</a>
                        </p>
                        <p>
                            <a th:text="#{footer.chat}" href="#" class="footer-href">Chat</a>
                        </p>
                        <p>
                            <a th:text="#{footer.successStories}" href="#" class="footer-href">Success Stories</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 th:text="#{footer.company}" class="fw-bold mb-4">COMPANY</h6>
                        <p>
                            <a th:text="#{footer.aboutUs}" href="#" class="footer-href">About us</a>
                        <p>
                        <p>
                            <a th:text="#{footer.contacts}" href="#" class="footer-href">Contacts</a>
                        <p>
                        <p>
                            <a th:text="#{footer.reviews}" href="#" class="footer-href">Reviews</a>
                        <p>
                        <p>
                            <a th:text="#{footer.faq}" href="#" class="footer-href">FAQ</a>
                        <p>
                        <p>
                            <a th:text="#{footer.support}" href="#" class="footer-href">Support</a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img src="/static/images/logo/jr.svg" alt="JavaRush" class="mb-3">
                        <p th:text="#{footer.aboutJavaRush}">
                            JavaRush is an online course for learning Java programming from scratch.
                            This course is a perfect way to master Java for beginners.
                            It contains 1200+ of tasks with instant verification and an essential scope of Java
                            fundamentals theory.
                        </p>
                        <h6 th:text="#{footer.follow}">FOLLOW US</h6>
                        <div>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div th:text="#{footer.slogan}" class="text-center pb-4">
            Programmers Are Made, Not Born © 2023 JavaRush
        </div>
    </footer>
</div>
</html>
