<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title th:text="#{passwordReset.title}">JiraRush - установить новый пароль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{passwordReset.greetings} + ${user.firstName} + '.'"/>
<p th:text="#{passwordReset.message} + ${user.email} + '.'"/>
<a th:text="#{passwordReset.setPassword}" th:href="${resetUrl}">Установить пароль</a>
</body>
</html>